html {

}

/* Minimum width of phones is typically 360, although iphone as narrow as 320.
Max width is 414, or 800 for tablet */

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #121212;
    margin: 0%;
    font-size: 16px;
    text-align: center;
    color:white;
}


h1 {  color: blue;}

h2 {text-align:center;
  font-weight: normal;}

.section {
  background-color: #282828;
  /* outline-style: solid; */
  /* padding-top: 20px; padding-bottom: 20px; */
  margin-top: 10%;
  display: inline-block;
  justify-content: center;
  text-align:center;
  width: 95%;
  border-radius: 2%;
}

.section-headers {
  text-align:center; padding:10px;
  color: white;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #111;
    display: flex;
    justify-content: space-evenly;
    width:100%;
    box-sizing: border-box; 
  }





.requirements-ul {
    display: inline-block;
    /* color: lawngreen; */
    background-color: lightblue;
    margin:0;
}

.requirements-ul > li {
    outline-style: solid;
    font-size: 0.8em;
    padding: 0.5em;
    box-sizing: border-box;
    background-color: maroon;
    margin:1em;
}


.footer {
    padding: 90px 0;
}


/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  



