html {

}


body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: blue;
    margin: 5%
}

h1 {
        color: blue;
}

a {
    text-decoration: none;
    color:blue;
}

a:visited {color:purple;}
a:hover {color: black;}
a:active {color: blue;}


.about-me {
    font-family: Arial;
    color: blue;

}


/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  h2 {text-align:center}

  
  .JD-slideshowcontainer {
      max-width: 800px;
      margin: auto;
      position:relative;
      margin-bottom: 40px;
      background-color: black;
    }
  
    .mySlides {
        display:none;
        object-fit:contain;
        max-height: 200px;
        }
      .slide1 {display:block;}

    .caption-container {
    position:absolute;
    left: 50%;
    transform: translate(-50%, 50%);
  
    z-index: 1;
  
  }
  
  .caption-text {
    color: white;
    font-size: 15px;
    text-shadow: 0px 0px 8px #202020;
    text-align: center;
  
    display:none;
  }
  
    .caption1 {
    display:block;
    }
  
    /* Next and previous buttons */
  .arrows {
    cursor: pointer;
  
    color: white;
    font-weight: bold;
    font-size: 18px;
    text-shadow: 0px 0px 8px #202020;
  
    position: absolute;
    top: 50%;
  
    transition: 0.6s ease;
    border-radius: 100%;
    }
  
  .next {
    /* float: right;  */
    right: 5%;
    transform: translate(0% 0%);
  
    padding: 5px 10px 5px 12px; }
  .prev {
    left: 5%;
    transform: translate(0% 0%);
  
    padding: 5px 12px 5px 10px; }
  
  .prev:hover, .next:hover {
    text-shadow: 0px 0px 20px #202020;
    }
  
  
  .pause-btn {
    cursor: pointer;
  
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, 0%);
  
    text-align: center;
    padding: 3px 8px 4px 8px;
    font-size: 12px;
  
    background-color: rgba(17, 17, 17, 0.267);
    color: white;
    border-radius: 10px;
    border-color: rgba(207, 207, 207, 0.774);
    border-width: 2px;
    border-style: solid;
  }
  
  button:focus {outline:0;}
  
  .pause-btn:hover {
    background-color: black;
    color: white;
  }
  
  .dot-container {
    position: absolute;
    bottom: 1%;
    left: 50%;
    transform: translate(-50%, -50%);
    }
  
    .JD-badge {
    font-size: 0;
    padding: 5px 5px;
  
    margin: 0px 3px;
    border-radius:50%;
    border-width: 1px;
  
    background-color: rgba(17, 17, 17, 0.267);
    color: white;
    border-radius: 10px;
    border-color: rgba(207, 207, 207, 0.774);
    border-width: 2px;
    border-style: solid;
  }
  
  .JDwhite {
    background-color: white;
    color: white;
  }
  

.logos-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    /* grid-gap: 5px; */

    position:relative;

    border-color:pink;
    border-style: solid;
    border-width: 5px;
    /* background-color: cyan; */


}

.logos-container:hover {color: blue;}
.logos-container:active {color: red;}
.logos-container:visited {color: pink;}

.logo-container {
    /* display: grid;
    align-items: center; */
    /* grid-template-rows: 20% 80%; */
    margin: 10% 20%;
    height: auto;
    


     /* display: block;  */
    /* vertical-align: middle;  */

}

.logo-image {
    box-sizing: border-box;

    border-color:red;
    border-style: solid;
    border-width: 1px;
    margin: 0px;
    

}



.logo-caption{

    margin: 0px;
    box-sizing: border-box;

    text-align: center;
    text-decoration: none;
    

    border-color:green;
    border-style: solid;
    border-width: 1px;


}

