html {

}


body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: blue;
    margin: 5%;
}

h1 {
  color: blue;
}



ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

/* Developer Info */
  .developer-info {
    
  }

  #developer-ul {
    display: block;
    margin: 10px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none; 
    color: white !important;
  }

  .dev-li {
    margin: 5px;
    
  }

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

a {
    text-decoration: none;
    color:blue;
}

a:visited {color:purple;}
a:hover {color: black;}
a:active {color: blue;}


.about-me {
    font-family: Arial;
    color: blue;

}


/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  h2 {text-align:center}

  
  .JD-slideshowcontainer {
      max-width: 800px;
      min-height: 200px;
      margin: auto;
      position:relative;
      margin-bottom: 40px;
      background-color: black;

      width:100%;
    }
  
    .mySlides {
      display:none;
      object-fit:contain;
      max-height: 200px;
        
        width: 100%;
        height: 400px;
        vertical-align: middle;
        
        }
    .slide1 {display:block;}

  

    .caption-containers {
        position:absolute;
        height: 100%;
        width: 50%;
        display: none;
        z-index: 1;
    }

    .caption-text {
        color: white;
        font-size: 15px;
        text-shadow: 0px 0px 8px black;
        position: absolute;
    }

    .top-left-container {
        background-image: linear-gradient(to right,rgba(0, 0, 0, 0.76) ,transparent);} 
    .top-right-container {
        right: 0;
        background-image: linear-gradient(to left,rgba(0, 0, 0, 0.76) ,transparent);} 
    
    .top-left-cap {
        text-align: left;
        top: 10%;
        right:20%;
        width: 40%;
    }

    .top-right-cap {
        text-align: right;
        top: 10%;
        left:10%;
        width: 40%;
    }

    /* Some center tests */ 
    .test1  {
  background-color: #0074D9;
  width: 100px;
  height: 100px;
  display: inline-block;
}

.test2 {
  background-color: #FFDC00;
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.test3 {
  background-color: #3D9970;
  width: 100px;
  height: 100px;
  position: absolute;
  left: 50%;
  margin-left: -50px;
}
  


    .caption1 {
    display:block;
    }
  
    /* Next and previous buttons */
  .arrows {
    cursor: pointer;
  
    color: white;
    font-weight: bold;
    font-size: 18px;
    text-shadow: 0px 0px 8px #202020;
  
    position: absolute;
    top: 50%;
  
    transition: 0.6s ease;
    border-radius: 100%;

    z-index: 2;
    }
  
  .next {
    /* float: right;  */
    right: 5%;
    transform: translate(0% 0%);
  
    padding: 5px 10px 5px 12px; }
  .prev {
    left: 5%;
    transform: translate(0% 0%);
  
    padding: 5px 12px 5px 10px; }
  
  .prev:hover, .next:hover {
    text-shadow: 0px 0px 20px #202020;
    }
  
  
  .pause-btn {
    cursor: pointer;
  
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translate(-50%, 0%);
  
    text-align: center;
    padding: 3px 8px 4px 8px;
    font-size: 12px;
  
    background-color: rgba(17, 17, 17, 0.267);
    color: white;
    border-radius: 10px;
    border-color: rgba(207, 207, 207, 0.774);
    border-width: 2px;
    border-style: solid;

    z-index: 3;
  }
  
  button:focus {outline:0;}
  
  .pause-btn:hover {
    background-color: black;
    color: white;
  }
  
  .dot-container {
    position: absolute;
    bottom: 1%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 3;
    }
  
    .JD-badge {
    font-size: 0;
    padding: 5px 5px;
  
    margin: 0px 3px;
    border-radius:50%;
    border-width: 1px;
  
    background-color: rgba(17, 17, 17, 0.267);
    color: white;
    border-radius: 10px;
    border-color: rgba(207, 207, 207, 0.774);
    border-width: 2px;
    border-style: solid;

    
  }
  
  .JDwhite {
    background-color: white;
    color: white;
  }
  

.logos-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    /* grid-gap: 5px; */

    position:relative;

    border-color:pink;
    border-style: solid;
    border-width: 5px;
    /* background-color: cyan; */


}

.logos-container:hover {color: blue;}
.logos-container:active {color: red;}
.logos-container:visited {color: pink;}

.logo-container {
    /* display: grid;
    align-items: center; */
    /* grid-template-rows: 20% 80%; */
    margin: 10% 20%;
    height: auto;
    


     /* display: block;  */
    /* vertical-align: middle;  */

}

.logo-image {
    box-sizing: border-box;

    border-color:red;
    border-style: solid;
    border-width: 1px;
    margin: 0px;
    

}



.logo-caption{

    margin: 0px;
    box-sizing: border-box;

    text-align: center;
    text-decoration: none;
    

    border-color:green;
    border-style: solid;
    border-width: 1px;
}

.form-container {
  background-color: blue;
  display:flex; 
  flex-direction: row; 
  align-items: flex-start; 
  justify-content: center;
  flex-flow: row wrap;
  /* max-width: 350px; */
}
/* Display:Flex makes it responsive to width change
Flex-direction is row by default
align-items: flex-start; Adjusts vertically. flex-start would be to top left? Alternatively center would have moved to the middle left. Justify-content is for horizontal adjustments.
justify-content: space-around; I HAVEN'T USED THIS BUT WOULD ARRANGE HORIZONTALLY WITH EVEN SPACING
align-self:flex-start; NOT USED. THIS WOULD TAKE A SPECIFIC ITEM AND SAY TO ALIGN AT THE TOP OF THE ROW. */

.form-name-email {
  background-color: gray;
  text-align:left;
  width: 320px;
  padding: 10px;
  display:flex;
  max-width: 350px; 
}

#name, #email {
  width:35%;
}

.form-message {
  background-color: teal;
  height: 100px;
  width: 320px;
  display: flex;
  flex-direction:column;
  padding: 10px;
}

#subject {
  height:100%; width:100%; box-sizing:border-box;
}