
div.parallax {
  /* The image used */
  background-image: url(../Images/Slides/JD\ Lake\ Titicaca.jpg);

  /* Set a specific height */
  /* min-height: 100vh;  */

  min-height: 80vh;
  /* width:90%; */

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  /* background-size: contain; */
  background-size: cover;



  margin: 0;
  padding: 0;
  border:0;

}

.top {
    opacity: 1;
}

div.yellowbox {
    border: 5px solid yellow;
    height: 10px;
    
    width: 100%;
}


  .top {
    margin: 0;
    position: relative;
    width: 100%;
    background-color: #aaa;
    height: 300px;
    opacity: 1;
    text-align: center;
    font-family: 'helvetica';
    font-size: 80px;
    font-weight: 100;
    color: #fff;
  }
  
  .title {
    position: absolute;
    top: 60%;
    left: 100px;
  }
