
div.banner {
    width: 100%;
    /* display: block; */
    position: fixed;

    z-index: 0;
    }

img.banner-image {
    width: 100%;
    /* display: block;  */

    z-index: 0;

    margin: 0;
    padding: 0;
    border:0;
}

div.testmargin {
    border: 5px yellow solid;
    background-color: teal;
    box-sizing: border-box;
}