
  @media (min-width: 801px) {
    div.main {
      margin-left:250px;
    }

    div.menu {
      display:none;
    }
  
.sidenav {
  height: 100%;
  /* width: 0; */
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  
  width: 250px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;

  line-height: 140%;
}

div.left-menu-button {
  position: fixed;
  z-index: 999;
  font-size:36px;
  cursor:pointer;

  top: 0px;
  font-size: 36px;
  height: 44px;
  padding: 8px 0 0 0 ;
  line-height: 140%;

  transition: visibility 1s;
}


#main {
  transition: margin-left .5s;
  padding: 16px;
}

.margin0 {
  margin-left:0;
}

.margin250 {
  margin-left:250;
}

  .narrowhidden {
    visibility: hidden;
  }  

  }


