.message-card {
    width: 100%;
    height: 100%;
    position: relative;
  
    box-sizing: border-box;
    border-radius: 3%;
  
    width: 335px;
    height: 180px;

  
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }


  .message-face {
    /* border: 1px yellow solid; */
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
  
    box-sizing: border-box;
    border-radius: 3%;
    border: 1px solid #0892D0;
  }