
.logos-container {
    /* border: blue 1px solid; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; 

    max-width: 900px;
    align-self: center;
    
  }



.logos-container p {
  display: flex;
  align-items: center;
  color: silver;
  text-align: justify;
}

.flip-card-front {
  background-color: purple;
}

.scene {
  perspective: 600px;
  display: flex;
  flex-wrap: wrap;
  border: none; 
  perspective: 2000px;
  border-radius: 3%;
  position: relative;
  margin: 5% 0 5% 0;
}

.scene a {
  box-sizing: border-box;
  width: 335px;
  height: 180px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}


.card {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;

  box-sizing: border-box;
  border-radius: 3%;

  width: 335px;
  height: 180px;
  position: relative;

  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card__face {
  /* border: 1px yellow solid; */
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;

  box-sizing: border-box;
  border-radius: 3%;
  border: 1px solid #0892D0;
}

.card__face--front {
  background-color: #282828;
  color:silver;

}

.card__face--back {
  background-color: #282828;
  transform: rotateX(180deg );
}

.scene:hover .card {
  transform: rotateX(180deg);
}

.about-me-section:hover .card {
  transform: rotateX(180deg);
  cursor:pointer;
}

.about-me-section:hover  {
  transform: rotateX(180deg);
  cursor:pointer;
}

.logo-image2 {
  box-sizing: border-box;
  margin: auto;
  position: absolute;
  top: 0; left: -45%; bottom: 0; right: 0%;

  border: silver 1px solid;
  width: 140px;
  height: 140px;
  border-radius: 2%;
  backface-visibility: hidden;
}

.logo-caption2 {
  text-align: left;
  text-decoration: none;
  width: 130px;
  height: 120px;
  margin: auto;
  position: absolute;
  top: 0; left: 50%; bottom: 0; right: 0;
}
